:root {
	--klmblue: #00A1DE;
	--klmdarkblue: #003F72;
	--klmorange: #E37222;
	--klmcloudblue:	#C2DEEA;
	--lightgray: #eeeeee;

	--menu-color-main: var(--klmblue);
	--menu-color-secondary: var(--klmdarkblue);
	--navigation-color: var(--klmdarkblue);
}

.menu{
	width:100%;
	height:35px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	font-family: "Universal Sans Text", sans-serif;
}

.title{
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	color: var(--menu-color-main);
	text-wrap: nowrap;
}
.sub-title{
	font-size: 12px;
	font-weight: 900;
}

.navigation{
	display:flex;
	justify-content: start;
	align-items: center;
	gap: 5px;
	overflow: hidden;

	color: var(--menu-color-secondary)!important;
	text-wrap: nowrap;

}
.navigation > .link > a{
	background: none!important;
	padding: 5px 10px!important;
	border:none!important;
	border-bottom: 1px solid white!important;
	color: var(--menu-color-secondary)!important;
}
.navigation > .link > a:hover{
	background-color: lightgrey!important;
	border-bottom: 1px solid orange!important;
	text-decoration: none;
}

.navigation > .active{
	background: none!important;
	padding: 5px 10px!important;
	border:none!important;
	border-bottom: 1px solid orange!important;
}
.navigation > .active > a {
	text-decoration: none!important;
	color: var(--menu-color-secondary)!important;
}

.quick-filter{
	display:flex;
	justify-content: start;
	align-items: center;
	gap: 5px;
	overflow-x: clip;
	color: var(--menu-color-secondary);
	border-left: 2px solid var(--menu-color-secondary);
	padding-left: 10px;
}

.grow{
	flex-grow: 1;
}


.logo{
	padding-right: 15px;
	font-weight: bold;
	font-size: 17px;
	color: var(--menu-color-main);
}